body { background-color: #9CC500!important; }
header { margin-top: 30px; }
header a { color: white; text-decoration: none; }
header a:hover { text-decoration: none; }
form { margin-top: 20px; }
form, #resultados { padding: 0 20px; }
.item { margin-bottom: 25px; }
.w100 { width: 100%; }

.btn-success { background: #952b2b; border-color: #957575; }
.btn-success:hover, .btn-primary:active, .btn-primary:focus { background: #782b2b;  border-color: #952b2b; }
